<!-- templates/add_recipe.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add Recipe</title>
</head>
<body>
    <header>
        <h1>Add a New Recipe</h1>
        <a class="add-recipe-btn" href="{{ url_for('home') }}">Back to Recipes</a>
    </header>

    <div class="container">
        <form method="post" action="{{ url_for('add_recipe') }}">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="ingredients">Ingredients (comma-separated):</label>
            <input type="text" id="ingredients" name="ingredients" required>
            <br>
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" name="instructions" rows="4" required></textarea>
            <br>
            <input class="view-info-btn" type="submit" value="Add Recipe">
        </form>
    </div>
</body>
</html>
