<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Recipe Sharing Platform</title>
</head>
<body>
    <header>
        <h1>Recipes</h1>
        <a class="add-recipe-btn" href="{{ url_for('add_recipe') }}">Add a Recipe</a>
    </header>

    <div class="container">
        <ul>
            {% for recipe in recipes %}
                <li class="recipe-card">
                    <h2>{{ recipe['title'] }}</h2>
                    <img class="recipe-img" src="{{ url_for('static', filename='placeholder_image.jpg') }}" alt="{{ recipe['title'] }}">
                    <br>
                    <a class="view-info-btn" href="{{ url_for('recipe_details', recipe_id=recipe['id']) }}">View Info</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
